html
    head
        title DataServer Dashboard
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
        link(rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")
        link(rel="stylesheet" href="/css/graph.css")
    body(style="background-color:#ffffff;")
        include header.pug
        include graph.pug 
        include jumbo.pug
        div(class="row")
            div(class="col-5 offset-sm-1")
                include dataCard.firstEntry.pug 
            div(class="col-5")
                include dataCard.lastEntry.pug
        include scriptCode.pug
        script(src="/scripts/dashboard.js")
        script(src="/scripts/graph.js")