div(class="row mt-4")
    div(class="col-3 offset-sm-1")
        div(class="card text-white bg-success mb-3")
            div(class="card-header") Status
            div(class="card-body")
                h5(class="card-title") Server is Running
                p(class="lead") Check the console for further information.
    div(class="col-3")
        div(class="card text-white bg-info mb-3")
            div(class="card-header") Users
            div(class="card-body")
                h5(class="card-title") 1
                p(class="lead") User(s) Online
    div(class="col-3")
        div(class="card text-white bg-info mb-3")
            div(class="card-header") Records
            div(class="card-body")
                h5(class="card-title" id="dataLength")= dataLength 
                p(class="lead") Data Points Collected